<div>
    <div>
        <button routerLink="/search">return</button>
        <h1>Prendre Rendez-Vous</h1>
    </div>
    <div>
        <div>
            Centre choisi :
           
            <li>Nom : {{centreData[1]}} </li>
            <li>Adresse : {{centreData[2]}} </li><br>

        </div>
        <div>
            <form class="example-form" >
                <input id="prenom" placeholder="Prénom" [formControl]="prenom">
                <input id="nom" placeholder="Nom" [formControl]="nom">
                <input id="mail" placeholder="email" [formControl]="mail">
                <input id="date" placeholder="aaaa-MM-jj" [formControl]="date">
                <input id="telephone" placeholder="0601020304" [formControl]="telephone">
                <button type="button" (click)="submit()">Prendre RDV</button>
            </form>

<br><br>
<p>Données rentrées : </p> 
<p>Prénom = {{prenom.value}}</p>
<p>Nom = {{nom.value}}</p>
<p>Mail = {{mail.value}}</p>
<p>Date = {{date.value}}</p>