<ul class="list-group">
    <div *ngFor="let appointment of appointments">
    <li class="list-group-item" >
        <p>Id de référencement : {{appointment.id}}</p>
        <p>Nom : {{appointment.firstName}}</p>
        <p>Prénom : {{appointment.lastName}}</p>
        <p>Email : {{appointment.mail}}</p>
        <strong>Date de rendez-vous : {{appointment.appointmentDate}}</strong>
        <button  class="btn btn-primary" type="button" (click)="delRdv(appointment.id)">supprimer</button>
    </li>
    </div>
  </ul>