<div id='searchCenter' class="card">
  <div class="card-body">
    <div class="form-group">
      <label for='search-box'> Recherche de centres</label>
      <input class="form-control" #searchBox id="search-box" (input)="search(searchBox.value)" />
      <small id="searchHelp" class="form-text text-muted">recherchez votre ville</small>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let centre of centres$ | async">
        <!-- Comme on a un NgInit on peut faire un ngFor* pour le faire pour chaque élément présent dans centres$-->
        <a [routerLink]="['/appointment/', centre.centreId]" [state]="{id: centre.centreId, nom: centre.nom, adresse: centre.adresse}">
          {{centre.nom}}
        </a>
        <ul class="adresse">
          {{centre.adresse}}
        </ul>
      </li>
    </ul>
  </div>
</div>